<p style="color: green"><%= notice %></p>

<h1>Academia</h1>

<div id="academia">
  <% @academia.each do |academium| %>
    <%= render academium %>
    <p>
      <%= link_to "Show this academium", academium %>
    </p>
  <% end %>
</div>

<%= link_to "New academium", new_academium_path %>
