<%= stylesheet_link_tag "search_page" %>
<%= content_for :title, "WeGoGym | Academias" %>

<div class="index">
  <h1 class="search-gym-title">Academias</h1>
  <button id="reg-gym-button"><%= link_to "É dono de academia? Cadastre-a!", new_academium_path, class: "button" %> </button>

  <div id="academia">
    <% @academia.each do |academium| %>
      <%= render academium %>
    <% end %>
  </div>

  
</div>