<%= stylesheet_link_tag "search_page" %>
<%= content_for :title, "WeGoGym | Academias" %>

<div class="index">
  <h1 class="search-gym-title">Academias</h1>

  <div id="academia">
    <% @academia.each do |academium| %>
      <%= render academium %>
    <% end %>
  </div>

  <%= link_to "New academium", new_academium_path %>
</div>