<%= stylesheet_link_tag "search_page" %>
<%= content_for :title, "WeGoGym | Resultados da Busca" %>

<div class="index">
    <h1 class="search-gym-title">Resultados</h1>
    <%= render @academia_busca %>
</div>
<div>
</div>
