version: "3.9"
services:
  app:
    image: docker
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWD: "123456"
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    ports:
      - 3000:3000
    depends_on:
      - db
  db:
    image: postgres:14.5
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "123456"
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db: