<footer id="footer-main-page">
  <h1 id="footer-main-page-content">Footer protótipo</h1>
  <h1 id="footer-main-page-mark">
    <%= image_tag "dumbbell_yellow_icon.png" , id:"footer-icon"%>
    WeGoGym&copy;
  </h1>
</footer>