<div id="<%= dom_id user_gym_admin %>">
  <p>
    <strong>Active:</strong>
    <%= user_gym_admin.active %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= user_gym_admin.usuario_id %>
  </p>

  <p>
    <strong>Academium:</strong>
    <%= user_gym_admin.academium_id %>
  </p>

</div>
