<h1>Editing user gym admin</h1>

<%= render "form", user_gym_admin: @user_gym_admin %>

<br>

<div>
  <%= link_to "Show this user gym admin", @user_gym_admin %> |
  <%= link_to "Back to user gym admins", user_gym_admins_path %>
</div>
