<p style="color: green"><%= notice %></p>

<h1>User gym admins</h1>

<div id="user_gym_admins">
  <% @user_gym_admins.each do |user_gym_admin| %>
    <%= render user_gym_admin %>
    <p>
      <%= link_to "Show this user gym admin", user_gym_admin %>
    </p>
  <% end %>
</div>

<%= link_to "New user gym admin", new_user_gym_admin_path %>
