/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 *= require font-awesome
 */

body {
    background-color: #222121;
    min-width: 300px;
}

@font-face {
    font-family: sprechen;
    src: url('Sprechen.ttf');
}

@font-face {
    font-family: google-bold;
    src: url('Product Sans Bold.ttf');
}

@font-face {
    font-family: google-regular;
    src: url('Product Sans Regular.ttf');
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

#navbar-main {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #222121;
}

.navbar-toggler {
    width: 80px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 7px;
    border-color: white;
}

.navbar-toggler:hover {
    background-color: rgba(184, 184, 184, 0.212);
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: rgba(255, 219, 45, 0) !important;
}

.navbar .navbar-toggler:focus{
    color: rgba(255, 219, 45, 0);
}

.navbar .navbar-toggler .icon-bar {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");        
}

.navbar-brand {
    color: rgba(255, 219, 45, 1);
    font-family: sprechen;
    font-size: 300%;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.333);
    position: relative;
    top: 3px;
}

.navbar-brand:hover {
    color: rgba(255, 219, 45, 1);
}

#go {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 219, 45, 1);
}

.navbar-nav {
    font-size: 120%;
    margin-left: 3%;
    max-width: 100%;
}

.nav-item {
    color: white;
    margin-right: 40px;
}

#nav_home {
    position: relative;
    color: rgba(255, 225, 92, 1);;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
    width: fit-content;
}

#nav_home:hover {
    color: rgba(255, 225, 92, 1);
}

#nav_home::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 225, 92, 1);
    border-radius: 5rem;
}

#nav_academias {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
}

#nav_academias:hover {
    color: rgba(255, 225, 92, 1);
}

#nav_faq {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
}

#nav_faq:hover {
    color: rgba(255, 225, 92, 1);
}

#nav_login{
    padding-top: 10px;
    height: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
    margin-right: 20px;
}

#nav_login:hover {
    color: rgba(255, 225, 92, 1);
}

#nav_register {
    padding-top: 10px;
    width: 140px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 219, 45, 1);
    text-align: center;
    border-radius: 10px;
}

#nav_register:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 1);
}

.navbar-expand {
    height: 10.4%;
    padding: 2%;
}

#search_area {
    width: 450px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

#search_area:focus{
    box-shadow: 0 4px 2px -2px rgb(116, 116, 116);
    border: none;
}

#search_button {
    color: rgb(255, 255, 255);
    background-color: rgba(253, 191, 0, 1);
    width: 40px;
    border: none;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

#username {
    color: white;
    text-decoration: none;
}

#username:hover {
    color: rgba(255, 225, 92, 1);
}

#signout-area {
    padding-top: 6px;
}

#signout {
    color: white;
    height: 32px;
    width: 33px;
}

#signout:hover {
    color: rgba(255, 225, 92, 1);
}

.btn-terciary {
    border-radius: 7px;
}

#search_button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 1);
}

#search-image {
    position: inherit;
    height: 18px;
}

#logo {
    height: 70px;
    width: 70px;
    position: relative;
    top: -1px;
}

.navbar-toggler {
    border-color: white;
    width: 100px;
}

.navbar-toggler:active {
    border-color: white;
    width: 100px;
}

#first-image {
    opacity: 0.5;
}

#second-image {
    opacity: 0.5;
}

#third-image {
    opacity: 0.6;
}

.content-title {
    color: white;
    font-size: 3.5vw;
    position: absolute;
    font-family: google-bold;
    top: 23%;
    right: 35.3%;
    width: 55%;
}

.content {
    color: white;
    font-size: 1.7vw;
    position: absolute;
    font-family: google-regular;
}

#first-text-content {
    top: 37%;
    right: 30%;
    width: 60%;
}

#second-text-content {
    top: 37%;
    right: 45%;
    width: 45%;
}

#third-text-content1 {
    top: 37%;
    right: 35.2%;
    width: 55%;
}

#third-text-content2 {
    top: 56%;
    right: 35.2%;
    width: 55%;
}

#third-carousel-bt {
    padding-top: 1.9%;
    margin: 0 auto;
    top: 65%;
}

.btn-primary {
    background-color: rgba(255, 219, 45, 1) !important;
    border-color: rgba(255, 219, 45, 1) !important;
    border-radius: 20px;
    font-size: 1.4vw;
    font-family: google-bold;
    color: black;
    position: absolute;
    height: 9.6%;
    width: 12%;
    top: 57%;
    right: 75%;
    box-shadow: 2px 2px rgba(255, 255, 255, 1);
}

.btn-primary:hover {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-color: white !important;
}

.form-control {
    font-style: italic;
}

#placeholder-maps {
    position: absolute;
    top: 22%;
    right: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
    height: auto;
    width: 26.5vw;
}

.teste {
    background-color: white;
    color: white;
}

#map-button {
    top: 71%;
    right: 19.35%;
}

#footer-icon {
    width: 2%;
}

.line {
    background-image: linear-gradient(135deg, rgba(255, 225, 92, 1), rgba(253, 189, 51, 1));
    border-radius: 6px;
    height: 1%;
    width: 7%;
    position: absolute;
}

#line1 {
    top: 32%;
    right: 83.05%;
}

#line2 {
    top: 32%;
    right: 83.05%;
}

#line3 {
    top: 32%;
    right: 83.05%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

#footer-main-page-mark {
    color: rgba(255, 255, 255, 0.863);
    font-size: 120%;
}

.footer-basic {
    padding: 30px 0;
    background-color: #222121;
    color: rgba(255, 255, 255, 0.87);
    font-family: google-regular;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: google-bold;
}

.carousel-control-prev {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 10%;
}

.carousel-control-next {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 10%;
}

#main-sec {
    background-color: white;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding-top: 2%;
}

.section-title {
    color: black;
    font-family: google-bold;
    text-align: center;
    font-size: 4.6vh;
}

#main-section-first-title {
    left: 0; 
    right: 0;
    padding-top: 6vh;
    margin-left: auto; 
    margin-right: auto; 
}

.section-text {
    font-family: google-regular;
    color: rgb(63, 63, 63);
    text-align: center;
    font-size: 2.3vh;
    width: 70%;
}

#main-section-first-text {
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    padding-bottom: 2.3vh;
}

.content-section {
    padding-top: 3%;
    padding-bottom: 3%;
}

#first-content-section {
    overflow: auto;
    display: flex;
}

#first-polygon {
    width: 45vw;
    height: 65vh;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0% 100%);
    float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(sixth_image.jpg);
}

#checklist-text {
    float: left;
    overflow: hidden;
    height: 70vh;
    width: 50vw;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 3.2vh;
    color: black;
}

.check-item {
    padding-left: 5%;
}

#second-content-section {
    padding-top: 0%;
}

#second-section-first-text {
    text-align: left;
    margin: auto;
    width: 83%;
}

#map-section {
    overflow: auto;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
}

#map-search-area {
    margin-right: 5%;
    position: relative;
}

#map-search-area i{
    position: absolute;
    right: 3%;
    top: 2.3%;
}

#input-address {
    width: 30vw;
    height: 4vh;
    float: left;
    background-color: rgba(207, 207, 207, 0.406);
    border: 1px solid rgba(207, 207, 207, 0.406);
    border-radius: 10px;
    display: flex;
    justify-content: right;
    box-shadow: 1px 1px rgb(204, 204, 204);
    padding-left: 4%;
    padding-right: 2%;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

#input-address:focus {
    outline: none;
    box-shadow: 2px 2px rgb(204, 204, 204);
}

#input-address:hover {
    outline: none;
    box-shadow: 2px 2px rgb(204, 204, 204);
}

#magnifying-glass-map {
    color: black;
}

#map-image {
    float: left;
    height: 50vh;
    width: 60vw;
    padding-right: 10%;
}

#third-content-section {
    background-color: #222121;
}

#third-section-first-title {
    color: white;
}

#third-section-first-text {
    text-align: left;
    padding-left: 7%;
    width: 45%;
    height: fit-content;
    color: white;
}

#third-section-second-text {
    text-align: left;
    padding-right: 7%;
    width: 100%;
    height: fit-content;
    padding-left: 50%;
    color: white;
}

#forth-section-first-text {
    margin-left: auto; 
    margin-right: auto; 
}

#fifth-section-first-text {
    margin-left: auto; 
    margin-right: auto; 
}

@media only screen and (max-width: 767px) {
    .navbar {
        position: relative;
    } 

    .d-flex {
        padding-top: 2%;
    }

    #search_area {
        width: 80%;
    }

    .content-title {
        font-size: 7vw;
        width: 80%;
        right: 10%;
    }

    .content {
        display: none;
    }

    .btn-primary {
        display: none;
    }

    .line {
        height: 2.5%;
        width: 16%;
        position: absolute;
    }

    #line1 {
        right: 73.5%;
        top: 54%;
    }
    
    #line2 {
        right: 73.5%;
        top: 54%;
    }
    
    #line3 {
        right: 73.5%;
        top: 54%;
    }

    #placeholder-maps {
        display: none;
    }

    #first-polygon {
        clip-path: polygon(0 0%, 75% 0%, 75% 100%, 0% 100%);
    }

    #checklist-text {
        padding-left: 0%;
    }

    #checklist-text {
        font-size: 2.3vh;
    }

    #third-section-first-text {
        width: 100%;
    }
    
    #third-section-second-text {
        padding-left: 7%;
        width: 100%;
    }
}


@media only screen and (max-width: 1200px){
    #nav_faq {
        width: 80px;
    }

    .d-flex {
        padding-top: 2%;
    }

    #search_area {
        width: 300px;
    }

    .navbar-nav {
        margin-left: 0;
    }

    #map-section {
        overflow: none;
        display: block;
    }

    #input-address {
        display: flex;
        float: none;
        width: 100%;
    }

    #input-address i {
        display: flex;
        top: 5%;
    }

    #map-image {
        padding-top: 5%;
        float: none;
        height: 100%;
        padding-bottom: 5%;
        margin: auto;
    }
}