body{
    background-color: black;
}
#NomeAcad {
    width: 100%;
    padding-top: 4%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: google-bold;
    font-size: 3vw;
}

.gym-button{
    border: none;
    width: 16vw;
    background-color: rgba(255, 219, 45, 1) !important;
    border-color: rgba(255, 219, 45, 1) !important;
    border-radius: 20px;
    font-size: 1vw;
    font-family: google-bold;
    color: black;
    box-shadow: 1px 1px rgba(255, 255, 255, 1);
}

#btn-gym-content{
    padding: 2%;
}
#back-button{
    width: 85vw;
    padding-right: 51%;
}

#container{
    overflow: auto;
    float: left;
}

#small-carousel {
    padding-left: 15%;
    margin-top: 3%;
    width: 60vw;
}

.carousel-item {
    padding-left: 0%;
    background-position: center;
    background-size: cover;
    height: 30vw;
}

#background-gym{
    background-color: rgb(17, 16, 16);
    padding-top: 3%;
    height: 175vh;
}

.card-text{
    color: white;
    padding: 2%;
    font-family: google-regular;
    font-size: 2vh;
    text-align: center;
}

#info-title-tel{
    color: white;
    padding-top: 4%;
    text-align: center;
    font-family: google-bold;
}

#info-title-addr{
    color:white;
    text-align: center;
    font-family: google-bold;
}

#info-title-site{
    color: white;
    text-align: center;
    font-family: google-bold;
}

#last-content{
    text-align: center;
}

#last-content:hover{
    color: rgb(243, 243, 148);
}

#info-cards{
    margin-top: -0.8%;
    padding-left: 20%;

 }

#cards-custom{
    background-color: #222121;
    height: 59vh;
}

.line-border{
    color: white;
}

#rating-title{
    text-align: center;
    color: white;
    font-family: google-bold;
}

#rating-cards-custom{
    background-color: #222121;
    height: 60vh;
}

#rating-info-cards{
    padding-top: 2%;
}

#show-ratings{
    font-size: 2vh;
}

#review-button{
    font-size: 35px;
    color: white;
 }
 
 #review-button:hover{
     color: rgb(243, 243, 148);
 }

 #your-review{
    padding-bottom: 2%;
}


#true-review-number{
    padding-top: 5%;
    font-size: 100px;
    color: white;
}

#review-count{
    font-size: 30px;
}

#div-rv-btn{
    padding: 2.5%;
}

#all-reviews-btn{
    border: none;
    width: 16vw;
    background-color: rgba(255, 219, 45, 1) !important;
    border-color: rgba(255, 219, 45, 1) !important;
    border-radius: 20px;
    font-size: 1vw;
    font-family: google-bold;
    color: black;
    box-shadow: 1px 1px rgba(255, 255, 255, 1);
}
@media only screen and (max-width: 767px) {
    #small-carousel{
        width: 80vw;
        margin-left: 0%;
        margin-right: 0%;
    }
    #NomeAcad{
        font-size: 4vw;
        margin: auto;
    }
    #container{
        float: none;
    }
    #info-cards{
        margin-top: -0.8%;
        padding: 5%;
     }
     #cards-custom{
        background-color: #222121;
        width: 80vw;
        height: auto;
    }
}
