body {
    width: 100%;
}

#container-profile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(fourth_image.jpg);
    background-position: center;
    background-size: cover;
    min-height: 118vh;
    width: 100%;
}

.card {
    box-shadow: 3px 3px 6px 0px rgba(255, 255, 255, 0.4);
}

#profile-picture-space {
    display: flex;
    justify-content: center;
}

#user-profile-image {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

.profile-feature {
    font-family: google-bold; 
    font-size: 18px;
}

#edit-profile-feature {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 219, 45, 1);
    border-radius: 20px;
    height: 60px;
    width: 150px;
}

#edit-profile-feature:hover {
    background-color: transparent;
    border: 1px solid black;
}

#edit-profile-btn {
    font-size: 18px;
    padding-top: 12%;
}

#delete-account-btn {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    height: 60px;
    width: 150px;
    background-color: #E32636;
    border: none;
}

#delete-account-btn:hover {
    background-color: #a82934;
}

.edit-btn {
    background-color: rgba(255, 219, 45, 1);
    padding-top: 1.9%;
    margin: 0 auto;
    top: 65%;
    height: 40px;
    width: 160px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
}

.edit-btn:hover {
    border-color: black;
    background-color: transparent;
}

.edit-field {
    border: 0.2px solid lightgray;
    border-radius: 5px;
    width: 100%;
}

#nav_home {
    position: relative;
    color: rgb(255, 255, 255);;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
    width: fit-content;
}

#nav_home:hover {
    color: rgba(255, 225, 92, 1);
}

#nav_home::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 225, 92, 0);
    border-radius: 5rem;
}

#username {
    position: relative;
    color: rgba(255, 225, 92, 1);;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
    width: fit-content;
}

#username:hover {
    color: rgba(255, 225, 92, 1);
}

#username::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 225, 92, 1);
    border-radius: 5rem;
}