<br>
<br>
<br>

<%= form_for([@academium, @academium.reviews.build]) do |form|%>
  <!-- simple_form_for([@academium, @academium.reviews.build])-->
  <%= form.number_field :rating %>
  <%= form.text_field :comment %>
  <%= form.submit :submit %>
  <h1> Joao Pedro</h1>
<% end %>