<p><%= review.rating %></p>
<p><%= review.comment %></p>
<% if Current.user %>
  <% if review.user_id == Current.user.id %>
    <%= link_to "Editar", edit_academium_review_path(review.academium, review) %>
    <%= button_to "Apagar comentario", academium_review_path(review.academium, review), method: :delete, data:{confirm: "Tem certeza?"} %>
  <% end %>
<% end %>