<br>
<br>
<br>
<br>

<h1>Editar avaliacao</h1>

<%= form_for([@academium, @review]) do |form|%>
  <!-- simple_form_for([@academium, @academium.reviews.build])-->
  <%= form.number_field :rating %>
  <%= form.text_field :comment %>
  <%= form.submit :submit %>
<% end %>