<%= stylesheet_link_tag "review_form" %>

<div id="background-review">

    <div id="form-cards" class="container-fluid">
        <section class="vh-100 mingradient-custom">
            <div  class="container h-100">
                <div  class="d-flex row justify-content-center align-items-center h-100">
                    <div class="col col-lg-9 col-xl-7">
                        <div id = "form-custom" class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-0 p-md-0">

                                <div id="rating-div">
                                    <h1 id="rating-title">Faça Sua Avaliação</h1>
                                    <%= render "form", id:"rating-input" %>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

