<div id="<%= dom_id user_enrollment %>">
  <p>
    <strong>Active:</strong>
    <%= user_enrollment.active %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= user_enrollment.usuario_id %>
  </p>

  <p>
    <strong>Academium:</strong>
    <%= user_enrollment.academium_id %>
  </p>

</div>
